.outerContainer {
   
   margin: auto;
   width: 30%;
   padding: 10px;
    height: 500px;
  }
  
  .container {
    padding-left: 0;
    height: 120px;
    width: 500px;
    margin-left: 0;
    border-radius: 20px;
  }
  .container:hover{
      background-color: rgb(240, 240, 218);
  }
  input{
      align-items: center;
    border-radius: 25px;
    outline: none;
    background-position: left top;
    background-repeat: repeat;
    padding: 30px;
    width: 400px;
    height: 10px;
    margin-left: 40px;
  }

  h5{

    padding: 20px;
  }

  i{
      padding-top: 22px;
      padding-left: 10px;
  }